.article {
	padding: 40px;
}

.article.gray-theme {
	background-color: var(--palette-gray-thrity);
}

.article__conteiner-img-n-info {
	display: flex;
	justify-content: space-between;
}

.article__box-img-n-read-link {
	position: relative;
}

.article__img {
	margin-right: 25px;
}

.article__read-link {
	position: absolute;
	bottom: -65px;
	left: 25px;
}

.article__container-img-n-text {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.article__text-img {
	margin-right: 10px;
}

.article__text-desc {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--palette-blue-thrity);
}

.article__text-article {
	margin-top: 25px;
}