* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter';
	color: var(--palette-black-primary);
}

h1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	letter-spacing: 0.01em;
}

h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	letter-spacing: 0.01em;
}

h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
}

h4 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
}

p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

a {
	text-decoration: none;
	color: black;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}