:root {

	--palette-blue-primary: #195AFF;
	--palette-blue-secondary: #0036BE;

	--palette-white-primary: white;

	--palette-black-primary: #212831;

	--palette-gray-primary: #535E70;
	--palette-gray-secondary: #C4C4C4;
}