:root {

	--palette-blue-primary: #195AFF;
	--palette-blue-primary-light: #195AFFCC;
	--palette-blue-secondary: #0036BE;
	--palette-blue-thrity: #113873;

	--palette-white-primary: white;

	--palette-black-primary: #212831;
	--palette-black-secondary: #212831B2;

	--palette-gray-primary: #535E70;
	--palette-gray-secondary: #C4C4C4;
	--palette-gray-thrity: #F5F9FF;
	--palette-gray-fourth: #F3F3F3;
	--palette-gray-quinary: #D9D9D9;

	--palette-orange-primary: #FE6543;
	--palette-orange-secondary: #C34C32;


	/* третичный - tertiary */
}